.container {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 76px;
}

.arrow {
    transform: rotate(180deg);
    transition: all 0.4s;
}

.arrowup {
    transform: rotate(0deg);
    transition: all 0.4s;
}

.title {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    background-color: #FF6060;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    padding: 0 18px;
}

.content {
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    background-color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    padding: 22px 18px;
    text-align: start;
    width: auto;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .container {
        padding-right: 50px;
    }
    .title {
        font-size: 20px;
        height: 40px;
    }
    .content {
        font-size: 18px;
    }
    .arrow {
        height: 24px;
     }
     .arrowup {
         height: 24px;
     }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .title {
        font-size: 13px;
        height: 30px;
        padding: 0 12px;
    }
    .content {
        font-size: 12px;
        padding: 18px 12px;
    }
    .arrow {
       height: 20px;
    }
    .arrowup {
        height: 20px;
    }
}