.header {
    margin: 40px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 57px;
    font-size: 24px;
    font-weight: 500;
    /* font-family: 'Montserrat'; */

}

.link {
    text-decoration-line: none;
    color: #ff6060;
}
.link:hover {
    text-decoration: underline;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .header {
        margin: 30px 50px 30px 50px;
    }
    .logo {
        width: 175px;
        height: 57px;
    }
    .nav {
        column-gap: 25px;
        font-size: 18px;
        /* font-family: 'Montserrat'; */
    }
}

@media (max-width: 480px) {
    .header {
        margin: 20px 20px 20px 20px;
    }
    .logo {
        width: 145px;
        height: 47px;
    }
    .nav {
        font-size: 12px;
        column-gap: 10px;
        text-transform: uppercase;
    }
}